* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#nav {
  width: 100%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2vw;
}
#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  height: 2vw;
  width: 2vw;
  background-color: black;
  border-radius: 50%;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#nav-part2 h4 span {
  color: rgb(112, 112, 112);
  margin-left: 1vw;
}
#nav-2 {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 2vw 2vw;
  gap: 100px;
}
#nav2 h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
#content {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
}
#text-content {
  height: 25%;
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#text-content::-webkit-scrollbar {
  background-color: transparent;
  height: 4px;
}
#text-content::-webkit-scrollbar-thumb {
  background-color: orangered;
}
.elem {
  flex-shrink: 0;
  height: 100%;
  width: 50%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.elem h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vw;
  font-weight: 300;
}
#image-content {
  height: 60%;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  overflow-x: auto;
}
#image-content img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
